
.timeline-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  padding: 10px;
}

.timeline-line {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 5px;
  background: white;
  translate: -50%;
}

.timeline-items-left, .timeline-items-right {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}

.timeline-item {
  margin: 0;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px;
  position: relative;
}

.timeline-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background: linear-gradient(150deg, #00c8ff, #070bff);
  border-radius: 50%;
  border: 2px solid rgb(146, 193, 237);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.timeline-title {
  margin-block: 10px;
}

.timeline-item:nth-child(odd) .timeline-content {
  left: 0;
  text-align: right;
}

.timeline-item:nth-child(even) .timeline-content {
  left: 52%;
  text-align: left;
}

.timeline-spacer {
  height: 200px;
}

.timeline-end-content {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px;
}

@media screen and (max-width: 700px) {
  .timeline-container {
    padding: 0;
  }

  .timeline-items-left, .timeline-items-right {
    padding: 10px;
  }

  .timeline-icon {
    width: 30px;
    height: 30px;
  }

  .timeline-date {
    font-size: 15px;
  }

  .timeline-title {
    font-size: 20px;
  }

  .timeline-description {
    font-size: 15px;
  }

  .timeline-spacer {
    height: 100px;
  }
}

@media screen and (max-width: 520px) {

  .timeline-container {
    width: 100%;
    padding: 0;
  }

  .timeline-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0;
  }

  .timeline-items > div {
    width: 100%;
    padding: 0;
  }

  .timeline-item {
    padding: 15px;
  }

  .timeline-end {
    width: 100%;
    margin-top: 10px;
  }

  .timeline-end-content {
    padding: 15px;
  }

  .timeline-icon {
    width: 30px;
    height: 30px;
  }
}