.container {
  margin-bottom: 20px;
  width: 92%;
  padding: 50px 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: linear-gradient(150deg, #00c8ff, #070bff);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0) 0px 0px 20px;
  min-height: 350px;
}

h1, h2, p, span {
  color: white;
}

p {
  line-height: 1.5;
}

.container-title {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: white;
  margin: 0 0 10px 0;
  text-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px;
  text-align: center;
}


/* Python styling */

.python-text, .python-text>span {
  font-family: 'Fira Mono', 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', monospace;
  font-weight: lighter;
}

.python-div {
  background-color: rgb(25, 25, 25);
  border: 0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px;
}

.python-header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  margin-bottom: 20px;
}

.python-icon {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.3);
  padding: 10px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px;
  margin-right: 20px;
}

.python-task {
  font-size: 20px;
  text-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px;
  margin-bottom: 20px;
  text-align: center;
  max-width: 600px;
  line-height: 1.2;
  text-align: justify;
}

/* Elige tu aventura styling */

.message {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px;
  margin: 0 0 10px 0;
  font-size: 20px;
  text-align: center;
}

.choices {
  margin-block: 20px;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
}

.choice {
  width: 50%;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
}

.choice:hover {
  transform: scale(1.1);
  transition: all 0.2s ease;
}

.result {
  margin-block: 20px;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-size: 50px;
  text-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px;
}

/* Spotify playlist styling */

.playlist-iframe {
  width: 90%;
  height: 415px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px;
}


/* Issue Tracker styling */

.issues-containers-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.issue-tracker-container {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px;
  width: 45%;
}

.issue {
  position: relative;
  background-color: rgb(25, 25, 25);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.issue span {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Anton", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.issue-title {
  font-size: 24px;
  color: white;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  margin: 10px 0 0 0;
  line-height: 1.2;
}

.issue-description {
  margin: 0 0 10px 0;
}

.issue-tracker-p {
  font-size: 24px;
  color: white;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  text-shadow:rgba(0, 0, 0, 0.3) 0px 0px 10px;
  margin: 0 0 10px 0;
}

.issue-progress {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.issue-id {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 14px;
}

/* Cruise Images */

.cruise-img-container {
  display:flex;
  width: 46%;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px;
  background-color: black;
  position: relative;
}

.cruise-img {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.cruise-img-fade {
  opacity: 0;
}

@keyframes fadeInOut {
  0%, 100% { opacity: 0.3 }
  50% { opacity: 0.7 }
}

.img-tap-btn{
  position: absolute;
  width: 100%;
  height: 97%;
  display: flex;
  justify-content: center;
  align-items: end;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  background: none;
  border: none;
}

.img-tap-btn>span {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px;
  cursor: pointer;
  animation: fadeInOut 2.2s infinite ease-in-out;
}

.img-tap-btn>span:hover {
  animation: none;
  opacity: 0.7;
  transition: all 0.2s ease;
}

.img-tap-btn:disabled span {
  opacity: 0.5;
  cursor: not-allowed;
  animation: none;
}

.img-point-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

div.img-points {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.img-point-btn {
  margin: 0;
  padding: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

/* Song styling */

.song-container {
  width: 70%;
  background-color: rgb(25, 25, 25);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 20px;
  padding: 20px;
  margin-bottom: 20px;
}

.song-cover {
  width: 40%;
  max-width: 200px;
  border-radius: 5px;
}

.song-info {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.song-title {
  margin: 30px 10px;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: white;
}

.song-audio {
  width: 100%;
  height: 40px;
}

.lyrics-container {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 20px;
}

.lyrics {
  width: fit-content;
}


@media screen and (max-width: 1100px) {
  .container {
    width: 88%;
    margin-bottom: 15px;
  }

  /* Python styling */

  .python-task {
    font-size: 18px;
    max-width: 500px;
  }

  /* Spotify playlist styling */

  .playlist-iframe {
    width: 100%;
  }

  /* Issue Tracker styling */
  
  .issue-tracker-container {
    padding: 10px;
  }

  .issue span {
    font-size: 16px;
  }
  .issue-title {
    font-size: 22px;
  }
  .issue-description {
    margin: 0 0 8px 0;
  }
  .issue-tracker-p {
    font-size: 22px;
    margin: 0 0 8px 0;
  }

  /* Cruise Images */

  .cruise-img-container {
    width: 60%;
  }

  /* Song styling */
  .song-container, .lyrics-container {
    width: 90%;
  }

}

@media screen and (max-width: 700px) {

  .container-title {
    font-size: 30px;
  }

  /* Python styling */
  .python-task {
    font-size: 18px;
    max-width: 300px;
  }

  .python-text, .python-text>span {
    font-size: 15px;
  }

  /* Issue Tracker styling */
  
  .issue-tracker-container {
    width: 42%;
  }

  .issue span {
    font-size: 15px;
  }

  .issue-title {
    font-size: 20px;
  }

  .issue-description {
    font-size: 15px;
  }

  .issue-tracker-p {
    font-size: 20px;
  }

  .issue-progress {
    flex-direction: column;
    align-items: start;
  }

  /* Cruise Images */

  .cruise-img-container {
    width: 80%;
  }

  /* Song styling */
  .lyrics-container {
    width: 90%;
    flex-direction: column;
    align-items: center;
  }

  .song-title {
    font-size: 22px;
  }

  .song-audio {
    height: 30px;
  }

}

@media screen and (max-width: 480px) {

  .container-title {
    font-size: 25px;
  }

  /* Choose your adventure styling */

  .message {
    padding: 10px;
    font-size: 15px;
  }

  .choices {
    width: 90%;
  }

  .choice {
    font-size: 18px;
  }

  .result {
    font-size: 30px;
  }

  /* Python styling */
  .python-task {
    font-size: 15px;
    max-width: 205px;
  }

  .python-text, .python-text>span {
    font-size: 12px;
  }

  /* Issue Tracker styling */
  
  .issues-containers-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .issue-tracker-container {
    width: 90%;
  }

  .issue-progress {
    flex-direction: row;
    align-items: center;
  }

  /* Song styling */

  .song-container {
    width: 95%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  }

  .song-cover {
    width: 90%;
    max-width:none;
  }

  .song-info {
    width: 90%;
  }

  .lyrics-container {
    width: 95%;
    padding: 20px 0;
  }

  .lyrics {
    width: 90%;
  }
}