html {
  margin: 0;
  background: black;
  overflow-x: hidden;
  scroll-behavior: auto;
}

body {
  margin: 0;
  overflow-x: hidden;
  max-width: 100vw;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-container button, .choices button {
    background: none;
    border: none;
    color: white;
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 10px;
    text-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px;
    cursor: pointer;
}

.titlediv {
  margin-block: 100px;
  text-shadow: rgb(0, 0, 0) 0 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-size: 100px;
  color: white;
  text-align: center;
  margin-block: 0;
}

.subtitle {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-align: center;
  margin-bottom: 50px;
  width: 60%;

}

.run-end-button-div {
  border-radius: 10px;
  background: linear-gradient(150deg, #00c8ff, #070bff);
}

.run-end-button {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 20px 40px;
  margin: 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px;
  text-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px;
  color: white;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-size: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.run-end-button-div:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.end-button-div {
  margin-block: 180px;
}

.spacer {
  height: 300px;
}

.containers {
  padding-top: 35px;
  width: 100%;
}

@media screen and (max-width: 1100px) {
  .title {
    font-size: 80px;
  }

  .subtitle {
    width: 80%;
  }

  .spacer {
    height: 400px;
  }

  .containers {
    padding-top: 10px;
  }
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 60px;
  }

  .run-end-button {
    font-size: 35px;
    padding: 15px 35px;
  }

  .end-button-div {
    margin-block: 150px;
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 40px;
  }

  .run-end-button {
    font-size: 25px;
    padding: 13px 30px;
  }

  .end-button-div {
    margin-block: 100px;
  }
}

@media screen and (max-height: 900px) {
  .titlediv {
    margin-block: 50px;
  }

  .spacer {
    height: 260px;
  }
}
