.menu-container {
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1000;
    background: none;
}

.menu-container button {
    text-align: left;
}

.menu-button.openclose {
    filter: drop-shadow(rgba(0, 0, 0, 0.5) 0px 0px 10px);
}

.menu-button:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.menu {
    display: flex;
    flex-direction: column;
    padding: 0;
    overflow: hidden;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0;
}

.menu.closed {
    opacity: 0;
    max-height: 0;
}

.menu.open {
    opacity: 1;
    max-height: 200px;
}

.menu-item {
    transition: all 0.2s ease;
    white-space: nowrap;
}

@media screen and (max-width: 1100px) {
    .menu-container {
        position: relative;
        top: 0;
        left: 0;
        width: 95%;
        padding: 10px 5%;
        background: linear-gradient(150deg, #00c8ff, #070bff);
        border-bottom: 2px solid rgba(255, 255, 255, 0.3);;
        box-shadow: rgb(0, 0, 0) 0px 0px 30px;
    }
}

@media screen and (max-width: 600px) {

    .menu-container {
        padding: 10px 5% 0 5%;
    }
    
    .menu-container button > * {
        width: 80%;
    }

    .menu .menu-item {
        font-size: 15px;
    }
}